<div class="col-sm-3 mt-2 ">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <p class="card-text"><%= item.description %></p>
      <a href="#" class="btn btn-primary"><%= item.category %></a>
    </div>
  </div>
</div>