<%= form_tag(root_path, method: :get, remote: true, id: 'filter-form') do %>
  <%= select_tag 'category', options_for_select(@categories, params[:category]), id: 'category-select' %>
<% end %>

<div class="row mt-3 items-container">
  <div id="loading-spinner" class="spinner" style="display:none;"></div>
  <% @items.each do |item| %>
    <%= render partial: 'card', locals: { item: item } %>
  <% end %>
</div>

<script>
  $(document).on('change', '#category-select', function() {
    $('#filter-form').submit();
  });

  $(document).on('ajax:beforeSend', '#filter-form', function() {
    // $('#items-container').addClass('loading');
    $('#loading-spinner').show();
  });

  $(document).on('ajax:success', '#filter-form', function(event, data, status, xhr) {
    $('#items-container').html(data);
  });

  $(document).on('ajax:complete', '#filter-form', function() {
    // $('#items-container').removeClass('loading');
    $('#loading-spinner').hide();
  });
</script>