<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.content %></p>
          <a href="#" class="btn btn-primary"><%= post.category %></a>
        </div>
      </div>
    </div>
  <% end %>
</div>